<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Disable automatic AdMob SDK startup initialization.
             Initialization is handled manually via AppInitializer only when
             ads are enabled (FeatureFlagManager IS_ADS_ENABLED = true).
             This prevents startup crashes on launch when AdMob is not configured. -->
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="${applicationId}.mobileadsinitprovider"
            tools:node="remove" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admobAppId"/>
    </application>
</manifest>
